.wrapper-landing-page{
  padding: 5rem 0 0 0;
}

.navbar-landingpage {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 32px;
  @include media-breakpoint-down(md){
    padding-top: 20px;
    padding-bottom: 0;
  }

  a {
    text-decoration: none;
    color: #18568B;
  }

  li {
    margin-left: 3rem;
    @include media-breakpoint-down(md){
      margin-left: 1rem;
    }
  }
  /* padding-bottom: 20px; */
  // .nav-item
  .navbar-nav .nav-item {
    color: $pinion-primary !important;
    position: relative;
    margin-bottom: 5px;

    &.nav-button {
      .nav-subitem {
        position: absolute;
        display: none;
        white-space: nowrap;
        transform: translateX(-25%);
        a {
          color: $pinion-primary;
          font-weight: 400;
          &:hover {
            text-decoration: none;
            background-color: #f2f2f2;
          }
        }
      }
      &:hover .nav-subitem {
        display: block;
        top: 90%;
      }
    }

    &:hover {
      font-weight: 600;
    }

    &:not(.nav-button) {
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background-color:$pinion-primary;
        height: 3px;
        border-radius: 3px;
        width: 0px;
        min-width: 0px;
        transition: width 200ms linear, min-width 200ms linear;
      }
      &:hover,
      &.active {
        &:after {
          width: 50%;
          min-width: 30px;
        }
      }
    }
  }
}

.modal-drawer {
  max-width: 100%;
  // height: 55%;
  margin: 0;

  .drawer-header {
    display: flex;
    justify-content: space-between;
  }

  .modal-content {
    border-radius: 0;
    height: 100%;
    padding: 6px 0;
  }

  ul {
    list-style: none;
    padding: 0 18px;
    color: #305574;
    font-size: 16px;
    font-weight: 500;

    li {
      padding: 10px 0;
      border-bottom: 1px solid rgba(228, 228, 228, 0.3);
    }
  }

  .btn-landing {
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-radius: 10px;
  }
}

.button-landing {
  background-color: $pinion-primary;
  // color: #fff;
  border: none;
  border-radius: 20px;
  width: 100px;
}

.button-landing:hover {
  box-shadow: 0px 0px 15px -3px #003c7156;
}

.active-navbar {
  a {
    font-weight: 600;
  }
}

.carousel-root.about-carousel {
  .carousel.carousel-slider {
    .control-dots {
      .dot {
        background-color: #ff825c94;
        cursor: pointer;
        width: 15px;
        height: 15px;
        box-shadow: none;

        &:hover {
          background-color: $pinion-secondary;
        }
        &.active {
          background-color: $pinion-secondary;
        }
      }
    }
  }
}

.landing-page-about {
  width: 100vw;
  height: 100%;
  background-color: #fff;
  background: url('../assets/landingpage/background/about.png');
  opacity: 1;
  background-position: left top;
  background-size: 100%;
  background-repeat: no-repeat;
  left: 0;

  @include media-breakpoint-down(sm){
    background-size: 350%;
  }
}

.landing-page-contact {
  width: 100vw;
  height: 100%;
  background-color: #fff;
  background: url('../assets/landingpage/background/contact.png');
  opacity: 1;
  background-position: right bottom;
  background-size: 80%;
  background-repeat: no-repeat;
  @include media-breakpoint-down(sm){
    background-size: 350%;
  }
}


.footer-landing {
  background-color: $pinion-primary;
  position: relative;
  // bottom: 0;
  width: 100%;
  padding: 1rem 5rem;
  // border-bottom: 5px solid;
  // border-image:   linear-gradient(to right, rgb(214, 87, 28) 20%, yellow 20%, yellow 40%,rgb(0, 255, 157) 40%, rgb(0, 255, 157) 60%, rgb(0, 83, 190) 60%, rgb(0, 83, 190) 80%, rgb(1, 192, 192) 80%) 5;

  &.fullscreen {
    position: relative;
    padding: 3.5rem 5rem;
    @include media-breakpoint-down(sm){
      padding: 3.5rem 2rem;
    }
  }

  .sosmed-lg {
    img {
      width: 50px;
    }
    &.fullscreen {
      img {
        width: 30px;
      }
    }
  }
  .copyright{
    font-size: 11pt;

    @include media-breakpoint-down(sm){
      font-size: 8pt;
    }
  }
}
.line-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-bottom: 5px solid;
  border-image:   linear-gradient(to right, rgb(214, 87, 28) 20%, yellow 20%, yellow 40%,rgb(0, 255, 157) 40%, rgb(0, 255, 157) 60%, rgb(0, 83, 190) 60%, rgb(0, 83, 190) 80%, rgb(1, 192, 192) 80%) 5;
}

.register-client {
  color: #c2c2c2;
  cursor: pointer;
  width: 100%;
  height: 280px;
  background-color: #fff;
  background: url('../assets/landingpage/register/client_off.png');
  opacity: 1;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;

  &:hover {
    color: $pinion-primary;
    background: url('../assets/landingpage/register/client_on.png');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
  }
}

.register-consultant {
  color: #c2c2c2;
  cursor: pointer;
  width: 100%;
  height: 280px;
  background-color: #fff;
  background: url('../assets/landingpage/register/consultant_off.png');
  opacity: 1;
  background-position: center;
  background-size: 45%;
  background-repeat: no-repeat;
  margin-top: 2rem;

  &:hover {
    color: $pinion-primary;
    width: 100%;
    height: 280px;
    background: url('../assets/landingpage/register/consultant_on.png');
    background-position: center;
    background-size: 45%;
    background-repeat: no-repeat;
  }
}

.home {
  .home-text-1 {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(md){
      font-size: 3.5rem;
      display: unset;
      justify-content: unset;
      align-items: unset;
    }

    .home-text-1-1{
      display: block;
      width: 100%;
      text-align: center;
    }

    .home-text-1-2{
      display: block;
      text-align: center;
    }

    .home-text-1-3{
      display: block;
      text-align: center;
    }
  }
}

.about {
  .about-text-1 {
    font-size: 3.5rem;

    @include media-breakpoint-down(md){
      font-size: 2rem;
    }
  }

  .about-text-2 {
    font-size: 1.25rem;
  }
}

.contact {
  height: 80vh;
  @include media-breakpoint-down(md){
    height: 100vh;
  }
  .contact-text-1 {
    font-size: 4rem;
    @include media-breakpoint-down(md){
      font-size: 3rem;
    }
  }
}

.faq {
  height: 80vh;
  @include media-breakpoint-down(md){
    height: 100vh;
  }
  .faq-text-1 {
    font-size: 4rem;
    @include media-breakpoint-down(md){
      font-size: 3rem;
    }
  }

  .faq-allside {
    justify-content: space-between;
    @include media-breakpoint-down(md){
      // justify-content: center;
      white-space: nowrap;
      position: relative;
      overflow-x: scroll;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
    }
  }

  .client-1 {
    cursor: pointer;
    width: 80px;
    transition: all .5s ease-in;
    visibility: visible;
    &.hide {
      visibility: hidden;
    }
    @include media-breakpoint-down(lg){
      width: 50px;
    }
  }

  .client-1-active {
    cursor: pointer;
    width: 100px;
    transition: all .5s ease;
    visibility: visible;
    &.hide {
      visibility: hidden;
    }
    @include media-breakpoint-down(lg){
      width: 70px;
    }
  }

  .client-2 {
    cursor: pointer;
    width: 85px;
    transition: all .5s ease-in;
    visibility: visible;
    &.hide {
      visibility: hidden;
    }
    @include media-breakpoint-down(lg){
      width: 55px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .client-2-active {
    cursor: pointer;
    width: 105px;
    transition: all .5s ease;
    visibility: visible;
    &.hide {
      visibility: hidden;
    }
    @include media-breakpoint-down(lg){
      width: 75px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .client-3 {
    cursor: pointer;
    width: 60px;
    transition: all .5s ease-in;
    visibility: visible;
    &.hide {
      visibility: hidden;
    }
    @include media-breakpoint-down(lg){
      width: 40px;
    }
  }

  .client-3-active {
    cursor: pointer;
    width: 80px;
    transition: all .5s ease;
    visibility: visible;
    &.hide {
      visibility: hidden;
    }
    @include media-breakpoint-down(lg){
      width: 50px;
    }
  }

  .client-4 {
    cursor: pointer;
    width: 70px;
    transition: all .5s ease-in;
    visibility: visible;
    &.hide {
      visibility: hidden;
    }
    @include media-breakpoint-down(lg){
      width: 45px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .client-4-active {
    cursor: pointer;
    width: 90px;
    transition: all .5s ease;
    visibility: visible;
    &.hide {
      visibility: hidden;
    }
    @include media-breakpoint-down(lg){
      width: 65px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .client-5 {
    cursor: pointer;
    width: 150px;
    transition: all .5s ease-in;
    visibility: visible;
    &.hide {
      visibility: hidden;
    }
    @include media-breakpoint-down(lg){
      width: 110px;
    }
  }

  .client-5-active {
    cursor: pointer;
    width: 170px;
    transition: all .5s ease;
    visibility: visible;
    &.hide {
      visibility: hidden;
    }
    @include media-breakpoint-down(lg){
      width: 120px;
    }
  }

  .consultant-1 {
    cursor: pointer;
    width: 80px;
    transition: all .5s ease-in;
    visibility: visible;
    &.hide {
      visibility: hidden;
    }
    @include media-breakpoint-down(lg){
      width: 50px;
    }
  }

  .consultant-1-active {
    cursor: pointer;
    width: 100px;
    transition: all .5s ease;
    visibility: visible;
    &.hide {
      visibility: hidden;
    }
    @include media-breakpoint-down(lg){
      width: 70px;
    }
  }

  .consultant-2 {
    cursor: pointer;
    width: 60px;
    transition: all .5s ease-in;
    visibility: visible;
    &.hide {
      visibility: hidden;
    }
    @include media-breakpoint-down(lg){
      width: 30px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .consultant-2-active {
    cursor: pointer;
    width: 80px;
    transition: all .5s ease;
    visibility: visible;
    &.hide {
      visibility: hidden;
    }
    @include media-breakpoint-down(lg){
      width: 50px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .consultant-3 {
    cursor: pointer;
    width: 80px;
    transition: all .5s ease-in;
    visibility: visible;
    &.hide {
      visibility: hidden;
    }
    @include media-breakpoint-down(lg){
      width: 50px;
    }
  }

  .consultant-3-active {
    cursor: pointer;
    width: 100px;
    transition: all .5s ease;
    visibility: visible;
    &.hide {
      visibility: hidden;
    }
    @include media-breakpoint-down(lg){
      width: 70px;
    }
  }

  .consultant-4 {
    cursor: pointer;
    width: 70px;
    transition: all .5s ease-in;
    visibility: visible;
    &.hide {
      visibility: hidden;
    }
    @include media-breakpoint-down(lg){
      width: 40px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .consultant-4-active {
    cursor: pointer;
    width: 90px;
    transition: all .5s ease;
    visibility: visible;
    &.hide {
      visibility: hidden;
    }
    @include media-breakpoint-down(lg){
      width: 60px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .consultant-5 {
    cursor: pointer;
    width: 150px;
    transition: all .5s ease-in;
    visibility: visible;
    &.hide {
      visibility: hidden;
    }
    @include media-breakpoint-down(lg){
      width: 110px;
    }
  }

  .consultant-5-active {
    cursor: pointer;
    width: 170px;
    transition: all .5s ease;
    visibility: visible;
    &.hide {
      visibility: hidden;
    }
    @include media-breakpoint-down(lg){
      width: 120px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .faq-text-2 {
    font-size: 1.5rem;
    @include media-breakpoint-down(sm){
      font-size: 1.2rem;
    }
  }
  .faq-text-3 {
    font-size: 1.25rem;
    @include media-breakpoint-down(sm){
      font-size: 0.95rem;
    }
  }
}

.btn-started {
  &:hover {
    border-color: $pinion-secondary;
    background-color: $pinion-secondary;
  }
}