.container-fluid {
  @include media-breakpoint-down(md){
    height:100%;
    .tab-content {
      height:100%;
    }
  }
}

.modal .modal-dialog.bottom {
    position: fixed;
    margin: auto;
    width: 100%;
    height: 95%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }

  .modal-dialog.bottom .modal-content {
    height: 100%;
    overflow-y: auto;
  }

  .modal-dialog.bottom .modal-body {
    padding: 0px 15px 30px 15px;
  }

  /*bottom*/
  .modal.fade .modal-dialog.bottom {
    bottom: -400px;
    -webkit-transition: opacity 0.15s linear, bottom 0.15s ease-out;
    -moz-transition: opacity 0.15s linear, bottom 0.15s ease-out;
    -o-transition: opacity 0.15s linear, bottom 0.15s ease-out;
    transition: opacity 0.15s linear, bottom 0.15s ease-out;
  }

  .modal.fade.show .modal-dialog.bottom {
    bottom: 0;
  }

  @media (min-width: 576px){
    .modal-dialog.bottom {
      max-width: 100%;
  }
}

.modal .modal-dialog.bottom-small {
  position: fixed;
  margin: auto;
  width: 100%;
  height: 50%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal-dialog.bottom-small .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal-dialog.bottom-small .modal-body {
  padding: 0px 15px 30px 15px;
}

/*bottom-small*/
.modal.fade .modal-dialog.bottom-small {
  bottom: -400px;
  -webkit-transition: opacity 0.15s linear, bottom 0.15s ease-out;
  -moz-transition: opacity 0.15s linear, bottom 0.15s ease-out;
  -o-transition: opacity 0.15s linear, bottom 0.15s ease-out;
  transition: opacity 0.15s linear, bottom 0.15s ease-out;
}

.modal.fade.show .modal-dialog.bottom-small {
  bottom: 0;
}

@media (min-width: 576px){
  .modal-dialog.bottom-small {
    max-width: 100%;
}
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: $netis-primary ;
  border-color: $netis-primary ;
  border: 1px solid $netis-primary ;
  color: #fff;
}
.pagination > li > a{
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: $netis-primary ;
  border-color: $netis-primary;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: $netis-primary
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}

.pagination-hub {
  .page-link{
    color:$netis-primary;
    border: none;
    padding: 15px 20px;
    @include media-breakpoint-down(sm){
      padding: 12px 12px;
    }
  }
  .page-item.active .page-link {
    background-color: $netis-primary;
    border-color: $netis-primary;
  }
  .page-item.disabled .page-link {
    color: #fff;
  }
}

.nav-tabs li {
  margin: 0;
}

.nav-link {
  border-radius: 12px;
  font-weight: 400;
  padding: 0.6rem;
  font-size: 11pt;
  text-decoration: none;
  color: $netis-secondary !important;
  border: none;
  margin-bottom: 5px;

  .img-avatar {
    width: 35px;
  }

  .nav-icon {
    color: $netis-secondary;
  }

    .label {
      font-size: 10pt;
      font-weight: 400;
    }

    &.active {
      .nav-icon {
        color: #fff !important;
      }
      background: $netis-primary !important;
      color: #fff !important;

      &:focus {
        background: $netis-primary !important;
        color: #fff !important;
      }
    }

    &:hover {
      background: $netis-primary !important;
      color: #fff !important;
    }
}

.no-hover{
  font-size: 11pt;

  &:hover {
    border: none !important;
    color: #305574 !important;
    border-bottom: none;
    border-color: #fff !important;
  }
}

.company-preview {
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 0.507);

    @include media-breakpoint-down(sm){
      width: 100%;
      height: 200px;
    }
  }

  @include media-breakpoint-down(md){
    .icon {
      text-align: center;
    }
    .list {
      text-align: center;
    }
  }
}

.badge-icon {
  display: inline-block;
  border-radius: 100%;
  background-color: rgba(224, 229, 234, 0.31);

  &.website{
    background-color: #4595D8;
    color: #FFFFFF;
    padding: 0.2em 0.5em;
  }

  &.email{
    background-color: #FFA833;
    color: #FFFFFF;
    padding: 0.2em 0.5em;
  }

  &.phone{
    background-color: #01C875;
    color: #FFFFFF;
    padding: 0.2em 0.5em;
  }

  &.location{
    background-color: #E2445C;
    color: #FFFFFF;
    padding: 0.2em 0.6em;
  }
}

.job-icon {
  background-color: #dbe2f5;
  color: $netis-primary;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width: 100px;
  height: 100px;
  padding: 23px 0px;
}

.plus-icon {
  background-color:$netis-primary;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width: 55px;
  height: 55px;
  padding-right: 2px;
  padding-bottom: 4px;
  // padding: 1px 8px 5px 2px;
  font-size: 2.5em;
  box-shadow: 2px 2px 6px $netis-primary;
  cursor: pointer;
}

.company-desc {
  display: flex;

  @include media-breakpoint-down(sm){
    display: none;
  }
}

.btn-job-applicant-status {
  width: 110px;
  font-size: 9pt;
}

.ribbons::before {
  position: absolute;
  top: 1.2rem;
  right: -0.5rem;
  content: "";
  background: $netis-primary;
  height: 25px;
  width: 30px;
  transform: rotate(45deg);
  z-index: 1;
}

.ribbons::after {
  position: absolute;
  content: attr(data-label);
  top: 9px;
  right: -14px;
  padding: 0.1rem;
  width: 15rem;
  background: $netis-primary;
  color: white;
  text-align: center;
  font-size: 10pt;
  box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 31%);
  z-index: 2;
}

.card .card-container {
  width: 100%;
  min-height: 100px;
  background: white;
  z-index: 1;
}

.floating-button {
  a {
    text-decoration: none !important;
  }
  z-index: 999;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  text-align: center;
  img {
    width: 50%;
    cursor: pointer;
  }

  .floating-button-caption {
    display: none;
  }

  .floating-button-icon-on {
    opacity: 1;
    transform: scaleX(1);
    transition: opacity 0.2s ease-out, transform 0ms linear;
  }
  .floating-button-icon-off {
    transform: scale3d(0, 0, 0);
    opacity: 0;
    transition: opacity 0.4s ease-out, transform 0ms linear 0.3s;
  }

  .floating-button-box-off {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: calc(100vw - 20px * 2);
    max-width: 500px;
    min-height: 170px;
    max-height: calc(100vh - 20px - 20px);
    border-radius: 32px;
    background: transparent;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
    text-align: left;
    overflow: hidden;
    transform: scale3d(0, 0, 0);
    opacity: 0;
    transition: opacity 0.4s ease-out, transform 0ms linear 0.3s;
  }
  .floating-button-box-on {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: calc(100vw - 20px * 2);
    max-width: 500px;
    min-height: 170px;
    max-height: calc(100vh - 20px - 20px);
    border-radius: 32px;
    background: transparent;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.125);
    text-align: left;
    overflow: hidden;
    opacity: 1;
    transform: scaleX(1);
    transition: opacity 0.2s ease-out, transform 0ms linear;

    .floating-button-box-header {
      position: relative;
      flex-shrink: 0;
      height: 70px;
      line-height: 70px;
      padding: 0 26px;
      margin: 0;
      background: $netis-primary;
      text-align: left;

      .floating-button-box-header-title {
        margin-top: 15px;
        font-size: 24px;
        color: #ffffff !important;
      }

      .floating-button-box-header-close {
        position: absolute;
        top: 50%;
        right: 24px;
        width: 34px;
        height: 34px;
        margin-top: -16px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.4) url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M24 2.4L21.6 0 12 9.6 2.4 0 0 2.4 9.6 12 0 21.6 2.4 24l9.6-9.6 9.6 9.6 2.4-2.4-9.6-9.6L24 2.4z'/%3E%3C/svg%3E") 50% no-repeat;
        background-size: 12px;
        cursor: pointer;
        transition: background-color 0.3s ease-out;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
    }
    .floating-button-box-content {
      padding: 20px 0 30px;
      padding-bottom: calc(20px);
      background: #ffffff;
      overflow-x: hidden;
      overflow-y: auto;
      will-change: scroll-position;

      .floating-button-box-content-message {
        display: inline-block;
        position: relative;
        // min-height: 60px;
        min-width: 100px;
        width: auto;
        padding: 0.5rem 20px;
        margin: 0 26px 1rem;
        border-radius: 32px;
        background: #0091aa;
        color: #ffffff;
        opacity: 1;
        filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
        transform: translateZ(0);
      }

      .floating-button-box-content-message-client {
        text-align: left;
        position: relative;
        min-height: 50px;
        // width: 100%;
        display: block;
        margin: auto;
        padding: 17px 20px;
        border-radius: 32px;
        background: #ffffff;
        filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.125));
      }

      .floating-button-box-content-message-client::placeholder {
        opacity: 1;
        filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.125));
      }
    }
  }
  @include media-breakpoint-up(sm) {
    // transform: translateY(15px);
    transition: transform 100ms ease-in-out;
    .floating-button-caption {
      display: inline;
      opacity: 0;
      transition: opacity 250ms ease-in-out;
    }
    &:hover {
      transform: translateY(0);
      .floating-button-caption {
        opacity: 1;
      }
    }
  }
}

.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  @keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  .text {
    -webkit-animation: flickerAnimation 3s infinite;
    -moz-animation: flickerAnimation 3s infinite;
    -o-animation: flickerAnimation 3s infinite;
    animation: flickerAnimation 3s infinite;
  }
}

// scale on hover animation
.scale-div {
  transition: transform 200ms ease-in-out;
      &:hover {
        transform: scale(1.15);
        cursor: pointer;
      }
}

.scale-div-small {
  transition: transform 50ms ease-in-out;
      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
}

.scale-click {
  -webkit-animation: scaleGrow 0.4s linear;
  -moz-animation: scaleGrow 0.4s linear;
  -o-animation: scaleGrow 0.4s linear;
  animation: scaleGrow 0.4s linear;
}
@keyframes scaleGrow {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.4); }
  100% { -webkit-transform: scale(1); }
}
@-o-keyframes scaleGrow{
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.4); }
  100% { -webkit-transform: scale(1); }
}
@-moz-keyframes scaleGrow{
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.4); }
  100% { -webkit-transform: scale(1); }
}
@-webkit-keyframes scaleGrow{
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.4); }
  100% { -webkit-transform: scale(1); }
}

.dashboard-page {
  width: 100%;
  margin: 0 auto;

  // @include media-breakpoint-only(md){
  //   width: 75%;
  // }
  @include media-breakpoint-up(lg){
    padding: 0 150px;
  }
}

.project-tab {
  .nav-link {
    font-weight: 400;
    padding: 0.6rem;
    font-size: 11pt;
    border: none;
    border-radius: 0px;

    &.active {
      background: none !important;
      color: $netis-primary !important;
      font-weight: 600;
      border-bottom: 4px solid $netis-primary;

      &:focus {
        background: none !important;
        color: $netis-primary !important;
        font-weight: 600;
        // border-bottom: 5px solid $netis-primary;
      }
    }

    &:hover {
      background: none !important;
      color: $netis-primary !important;
      font-weight: 600;
      // border-bottom: 5px solid $netis-primary;
    }
  }

  .nav-tabs {
    border-bottom: none;
    box-shadow: none;
  }
}
.desc-card-project {
  margin-bottom: 15px;
  .description-title {
    font-size: 15px;
  }
  .description-project {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  // .description-project-more {
  //   color: rgb(43, 101, 207);
  // }
}
.carousel-post{
  .carousel-inner{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #000;

    @include media-breakpoint-down(sm){
      width: 100vw;
      height: 100vw;
    }
  }

  .carousel-inner:after {
    content: "";
    display: block;
    padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
  }
}

ol.carousel-indicators {
  position: relative;
  padding: 0;
  margin: 0;
  margin-top: -3px;
  li{
    background-color: #a8a8a8;
    border-radius: 50%;
    width: 8px;
    height: 8px;
  }

  li.active {
    background-color: #0095f6;
  }
}

.profile-photo-project {
  width: 50px;
  height: 50px;
}

.button-card-project {
  position: relative;
  i {
    cursor: pointer;
  }
}

.carousel-detail{
  .carousel-inner{
    height: 800px;
  }
}

.list-group.join-team {
  .list-group-item.active {
    background-color: rgba(43, 107, 248, 0.32);
    border-color: rgba(43, 107, 248, 0.32);
  }
}

.link-nounderline {
  a:hover {
    text-decoration: none;
  }
}

.absolute-right {
  position: absolute;
  top: 15px;
  right: 15px;
}

.box {
  padding-bottom: 100%;
  border-radius: 4px;
  position: relative;

  img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.profile-list {
  width: 50%;
  // @include media-breakpoint-up(md){
  //   width: 30%;
  // }
}

.sticky-header {
  position: sticky;
  top: 0px;
  padding: 15px;
  background-color: #F6F5F5;
  font-weight: bold;
  z-index: 10;
}

.round-button {
  border-radius: 50%;
  border: none;
  width: 35px;
  height: 35px;
}

.table-sprint {
  background-color: #fff;
  border-radius: 20px;

  thead {
    background-color: #fff;
    // border-top-left-radius: 20px;
    // border-top-right-radius: 20px;
    border-bottom: 1px solid #A9A9A9;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  th {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  td {
    vertical-align: top;
  }
}

.img-profile-button {
  background-color: transparent;
  color: #dbe2f5;
  width: 100px;
  height: 100px;
  @include media-breakpoint-up(sm){
    width: 130px;
    height: 130px;
  }
  @include media-breakpoint-up(lg){
    width: 180px;
    height: 180px;
  }
}

.img-profile-button:hover {
  background-color: whitesmoke;
  opacity: 0.5;
}

.desc-img-profile {
  display: block;
  overflow: hidden;
  max-height:0;
  transition: max-height 0.3s ease-in;
}

.img-profile-button:hover .desc-img-profile {
  max-height: 50px;
}

.container {
  max-width: 90%;
  @include media-breakpoint-down(md){
    max-width: 100%;
  }
}

.hover-pointer:hover {
  cursor: pointer;
}

.design-sprint {
  width: 100%;
  border-radius: 20px;

  .design-sprint-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #fff;
  }

  .lead-photo {
    position: relative;
    // border: 3px solid #ccc;
    box-shadow: 0px 3px 12px #2b3c5e1a;
    background: #fff;
    margin: auto;
    padding: 5px 5px;
    width: 100px;
    height: 100px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  table {
    @include media-breakpoint-up(xl){
      max-width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .sprint-box {
    width: 210px;

    .sprint-desc {
      font-size: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
  }

  .sprint-solving {
    font-size: 10pt;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

}

.card-member {
  cursor: pointer;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
  &:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.253);
  }
}
